<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<%= hidden_field_tag "smile_array", @smile_array, { :id => "smile_array" }%>
<%= hidden_field_tag "frown_array", @frown_array, { :id => "frown_array" }%>

<br> <br><br><br><br><br><br><br><br><br><br><br><br>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<h3> <%= @response %> </h3>


 




