<%= stylesheet_link_tag params[:controller] %>

<section id="top-header-room"></section>

<h2> Get that smile ready, you'll be video chatting soon! </h2>

<a class="create_sesh_btn" href="<%= '/rooms/create_sesh/' + @needed_id.to_s%>">Customer-to-Employee</a>
<a class="create_sesh_btn2" href="<%= '/rooms/create_private/' + @session.session_id.to_s%>">Employee-to-Employee</a>


<!-- link_to('/createsession' + @needed_id.to_s)  -->

<section id="bottom-footer-room"></section>
