<%#= stylesheet_link_tag params[:controller] %>
<%= hidden_field_tag "foo_name", @session_id, { :id => "foo-name" }%>
<%= hidden_field_tag "token", @token, { :id => "token" }%>

<p id="notice"><%= notice %></p>

<div id="opentok_console"></div>
<div id="links">
  <input type="button" value="Create Room" id ="connectLink">
  <input type="button" value="Leave Room" id ="disconnectLink">
  <input type="button" value="Start Publishing" id ="publishLink">
  <input type="button" value="Stop Publishing" id ="unpublishLink">
</div>
<div id="myCamera" class="publisherContainer"></div>
<div id="subscribers"></div>


<div id="textchat">
  <p id="history"></p>
 <form class="form">
   <input type="text" placeholder="Input your text here" id="msgTxt"></input>
 </form>
</div>

<br> <br>

<%= link_to 'Dashboard', current_user %>
