

<%if User.where.not(session_id: nil).last%>

  <h3> Available Sessions </h3>
  <% @list2.each do |u| %>
    <p><%= link_to (u.name + "'s session") , ('/rooms/join_sesh/' + u.id.to_s) %> </p>
  <%end%>
  
<%else%>
  <h4> Sorry, no available sessions. Try creating your own! <h4>
  <%= link_to 'Create Session', ('/rooms/create_sesh/' + current_user.id.to_s)%> 
  <br> <br> <br>
  <%= link_to 'Dashboard', current_user %>

<%end%>