<%= stylesheet_link_tag params[:controller] %>

<section id="top-header"></section>

<%= hidden_field_tag "foo_name", @session_id, { :id => "foo-name" }%>
<%= hidden_field_tag "token", @token, { :id => "token" }%>


<div id="opentok_console"></div>
<div id="links">
<ul class="list-unstyled">
  <li><input type="hidden" value="JOIN ROOM" id="connectLink"></li>
  <li><input type="button" value="LEAVE ROOM" id="disconnectLink"></li>
  <li><input type="button" value="START PUBLISHING" id="publishLink"></li>
  <li><input type="button" value="STOP PUBLISHING" id="unpublishLink"></li>
</ul>
</div>
<div id="myCamera" class="publisherContainer"></div>
<div id="subscribers"></div>

<br>

<p id="lol"></p>
<br>

<section id="bottom-footer"></section>
