// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body  {
    background-image: url('https://images.unsplash.com/photo-1449024540548-94f5d5a59230?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=dec4b59ca06926527007bd98670f2800');
    background-size: cover;
    background-repeat: no-repeat;
}

* {
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
}

h1 {
  font-size: 3em;
  margin: 0.25em;
}

#login {
  text-align: center;
}

#sessions-form {
  text-align: center;
}

#email-separator {
  visibility: hidden;
}

#email {
  font-size: 1em;
}

#password {
  font-size: 1em;
}

label {
  font-size: 1.5em;
}

.submit-input {
  border-radius: 5px;
  font-size: 1.5em;
  height: 1.5em;
  width:13em;
  background-color: white;
  position:relative;
  top: 0.25em;
}

#signup-link {
  position: relative;
  top: 0.5em;
  // color: gray;
  font-size: 1.5em;
  height:1.5em;
  width: 13.25em;
  border-radius: 7px;
  background-color: white;
}


#signup-link:hover, .submit-input:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


