// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* The animation code */


#edit-title {
  position: relative;
  left: 0.25em;
}

@keyframes across {
    0%   {left: 0;}
    25%  {left: 4em;}
    50%  {left: 0em}
    75% {left: -4em;}
    100% {left: 0em;}
}

#notice {
  font-size: 1.5em;
  color: #003300;
  position: relative;
  text-align: center;
  animation-name: across;
  animation-duration: 6s;
}

body  {
    background-image: url('https://images.unsplash.com/photo-1430609098125-581618d0482f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9fe2ffe3b97c96c4c2dd690dcfcff4e1');
    background-size: cover;
    background-repeat: no-repeat;
}

#signup {
  font-size: 3em;
  position: relative;
  left: 0.65em;
}

.field input {
  font-size: 1.5em;
}

.field label {
  font-size: 1.5em;
}

.actions input{
  border-radius: 7px;
  height:1.5em;
  width: 11.3em;
  font-size: 1.5em;
  // background-color: #3face2;
  // background-color: #99ddff;
  background-color: white;
}

#back-to-login, #back-to-dash {
  border-radius: 7px;
  height:1.5em;
  width: 11.3em;
  font-size: 1.5em;
  position: relative;
  top: 0.5em;
  // background-color: #3face2;
    // background-color: #99ddff;
    background-color: white;
}
  
#back-to-login:hover, .actions input:hover, #back-to-dash:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
  
  

@import url(https://fonts.googleapis.com/css?family=Montserrat);


svg {
    // display: block;
    font: 5rem 'Montserrat';
    // margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

