<%= stylesheet_link_tag params[:controller] %>

<link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<header id="header-background">

    <!-- <a><img src="img/tlogo.png" class="logo-image" ></a> -->


    <div class="titles">
      <a id="title-logo">
        <h1 class="title1"><strong>FINAL PROJECT<strong></h1>
        <!-- <h2 class="">Multimedia Customer Service</h2> -->
      </a>
    </div>
    <nav>
      <ul>

        <li><a href="">TECNOLOGY</a></li>
        <li><a href="">PRODUCT</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">CONTACT</a></li>
      </ul>
    </nav>
  </header>

  <!-- /**********************************
  SECTION VIDEO DISPLAY
  ***********************************/ -->

  <section id="video-display">


  </section>



<!--
  /**********************************
  SECTION TECNOLOGY
  ***********************************/ -->

  <section id="tecnology-background">


  </section>

  <!-- /**********************************
  SECTION PRODUCT
  ***********************************/ -->

  <section id="product-background">


  </section>

  <!-- /**********************************
  SECTION ABOUT
  ***********************************/ -->

  <section id="about-background">


  </section>


<!-- /**********************************
  FOOTER CONTACT
***********************************/ -->
  <footer id="contact-background">

    <section id="secondary">
          <h3>Contact</h3>
          <ul class="list-unstyled">
            <li class="phone"><i class="fa fa-phone fa-lg"></i><a href="tel:305-777-7682">305-777-7682</a></li>
            <li class="mail"><i class="fa fa-envelope-o fa-lg"></i><a href="mailto:final@final.com">final@project.com</a></li>
            <!-- <li class="skype"><a href="skype:">Tommy Bisi</a></li> -->
          </ul>

      <div id="all-social-icons">
        <a href="https://www.instagram.com/"
          class="fa fa-instagram fa-2x" id="social-icon"></a>

        <a href="https://www.linkedin.com/"
          class="fa fa-linkedin fa-2x" id="social-icon"></a>

        <a href="https://www.facebook.com/"
          class="fa fa-facebook fa-2x" id="social-icon"></a>

        <a href="https://www.google.com/"
          class="fa fa-google fa-2x" id="social-icon"></a>

    </div>
        <p class="copyright"> &copy;2016 Final Project</p>

        </section>

  </footer>
