<%= stylesheet_link_tag params[:controller] %>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<header id="header-background">

    <!-- <a><img src="img/tlogo.png" class="logo-image" ></a> -->


    <div class="titles">
      <a href="index.html" id="title-logo">
        <h1 class="title1">Final Project</h1>
        <h2 class="">Customer Service Multimedia</h2>
      </a>
    </div>
    <nav>
      <ul>

        <li><a href="">Tecnology</a></li>
        <li><a href="">Product</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </nav>
  </header>

  <!-- /**********************************
  SECTION VIDEO DISPLAY
  ***********************************/ -->

  <section id="video-display">


  </section>



<!--
  /**********************************
  SECTION TECNOLOGY
  ***********************************/ -->

  <section id="tenology-background">


  </section>

  <!-- /**********************************
  SECTION PRODUCT
  ***********************************/ -->

  <section id="product-background">


  </section>

  <!-- /**********************************
  SECTION ABOUT
  ***********************************/ -->

  <section id="about-background">


  </section>


<!-- /**********************************
  FOOTER CONTACT
***********************************/ -->
  <footer id="contact-background">

    <section id="secondary">
          <h3>Contact Us</h3>
          <ul class="contact-info">
            <li class="phone"><a href="tel:305-777-7682">305-777-7682</a></li>
            <li class="mail"><a href="mailto:final@final.com">final@project.com</a></li>
            <!-- <li class="skype"><a href="skype:">Tommy Bisi</a></li> -->

          </ul>
        </section>

  </footer>
